apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: springboot
          image: abirhammou/projet-devops:latest
          imagePullPolicy: Always

          envFrom:
            - configMapRef:
                name: spring-config
            - secretRef:
                name: spring-secret
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  selector:
    app: springboot
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
